<h1>Questions</h1>

<table class="table">
  <thead>
    <tr>
      <th>Content</th>
      <th>User</th>
      <th>Votes Number</th>
      <th>Replies Number</th>
      <th>Asked</th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= link_to post.title, post_path(post) %></td>
        <td><%= post.user.name %></td>
        <td><%= post.vote_number %></td>
        <td><%= post.count_reply(post.id) %></td>
        <td><%= time_ago_in_words post.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New post', new_post_path, class: "btn btn-secondary" %>
