<h1>Create new post</h1>

<%= form_for @post do |f| %>
  <% if @post.errors.size > 0 %>
    <div class="alert alert-danger">
      <%= @post.errors.full_messages.to_sentence %>
    </div>
  <% end %>

  <div class="form-group">
    <div>
      <%= f.label :title %>
      <%= f.text_field :title, class: "form-control", value: @title %>
    </div>
    <div>
      <%= f.label :language %>
      <%= f.select :language, options_for_select([['Việt Nam', 1], ['Laos', 2], ['English', 3]]), :class => 'form-control' %>
    </div>
    <div>
      <%= f.label :body %>
      <%= f.text_area :body, class: "form-control" %>
    </div>

    <div>
      <%= f.label :image %>
      <%= f.file_field :image %>
    </div>
  </div>
  <%= f.submit class: "btn btn-secondary" %>
<% end %>
