<h1>Ask question</h1>
<div class="box-shadow">
  <li><%= link_to "How to translate this text?", new_post_path('How to translate this text?') %></li>
  <li><%= link_to "How to translate this picture?", new_post_path('How to translate this picture?') %></li>
  <!-- <li><%= link_to "Does this sound natural?", new_post_path('Does this sound natural?') %></li> -->
  <!-- <li><%= link_to "What is this picture?", new_post_path('What is this picture?') %></li> -->
  <!-- <li><%= link_to "What's the difference?", new_post_path("What's the difference?") %></li> -->
  <!-- <li><%= link_to "Ask something else?", new_post_path('Ask something else?') %></li> -->
</div>