
<li><%= link_to "How do you say this?", new_post_path('How do you say this?') %></li>
<li><%= link_to "Does this sound natural?", new_post_path('Does this sound natural?') %></li>
<li><%= link_to "Please show me example sentences with", new_post_path('Please show me example sentences with') %></li>
<li><%= link_to "What's the difference?", new_post_path("What's the difference?") %></li>
<li><%= link_to "Ask something else?", new_post_path('Ask something else?') %></li>
