<div class="container">
  <%= link_to 'New post', new_post_path, class: "btn btn-secondary" %>
  <div class="row">
    <div class="col-sm-8">
      <div class="panel panel-white post panel-shadow">
        <div class="post-heading">
          <div class="pull-left image">
            <img src="<%= current_user.avatar.url(:thumb) %>" class="img-circle avatar" alt="user profile image">
          </div>
          <div class="pull-left meta">
            <div class="title">
              <b><%= @post.user.email %></b> asked
            </div>
            <h6 class="text-muted time"><%= time_ago_in_words(@post.created_at) %></h6>
          </div>
        </div>
        <div class="post-description">
          <h3><%= @post.title %></h3>
          <% if @post.image.url.nil? %>
              <h3>&ldquo; <%= @post.body %>&rdquo;</h3>
            <% else %>
              <img class="card-img-top" src=" <%= @post.image.url %>">
          <% end %>          
          <div class="stats">
            <a href="#" class="btn btn-default stat-item">
              <i class="fa fa-thumbs-up icon"></i>2
            </a>
            <a href="#" class="btn btn-default stat-item">
              <i class="fa fa-thumbs-down icon"></i>12
            </a>
          </div>
          <% if current_user %>
              <% if @voted == 0 %>
                  <%= link_to 'Vote', create_vote_path(:vote_type => 0, :vote_action => 1, :post_id => @post.id), method: :post %>
                  <%= link_to 'Disvote', create_vote_path(:vote_type => 0, :vote_action => -1, :post_id => @post.id), method: :post %>
              <% elsif @voted <= 0 %>
                  <%= link_to 'Vote', create_vote_path(:vote_type => 0, :vote_action => 1, :post_id => @post.id), method: :post %>
              <% else %>
                  <%= link_to 'Disvote', create_vote_path(:vote_type => 0, :vote_action => -1, :post_id => @post.id), method: :post %>
              <% end %>
          <% else %>
              <%= link_to 'Vote', create_vote_path(:vote_type => 0, :vote_action => 1, :post_id => @post.id), method: :post %>
              <%= link_to 'Disvote', create_vote_path(:vote_type => 0, :vote_action => -1, :post_id => @post.id), method: :post %>
          <% end %>
          <h5> <%= @post.vote_number %> votes for this post </h5>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <hr>
    </div>
  </div>
</div>
<!------------------------------------------------------------------ REPLY---------------------------------------------------------------->
<div class="container">
<% if @post.replies.count() <= 0 %>
    <h2>Don't have any reply yet</h2></div>
<% else %>
    <div class="container">
      <h2><%= @post.replies.count() %> Replies </h2>
    </div>
    <% @post.replies.sort { |a,b| b.vote_number <=> a.vote_number }.each do |reply| %>
        <div class="container text-black">
          <div class="row">
            <div class="col-sm-8">
              <div class="panel panel-white post panel-shadow">
                <div class="post-heading">
                  <div class="pull-left image">
                    <img src="<%= reply.user.avatar.url(:thumb) %>" class="img-circle avatar" alt="user profile image">
                  </div>
                  <div class="pull-left meta">
                    <div class="title">
                      <b class="text-black"><%= reply.user.name %></b> replied
                    </div>
                    <h6 class="text-muted time"><%= time_ago_in_words(reply.created_at) %></h6>
                  </div>
                </div>
                <div class="post-description">
                  <h3>&ldquo; <%= reply.body %>&rdquo;</h3>
                  <div class="stats">
                    <a href="#" class="btn btn-default stat-item">
                      <i class="fa fa-thumbs-up icon"></i>2
                    </a>
                    <a href="#" class="btn btn-default stat-item">
                      <i class="fa fa-thumbs-down icon"></i>12
                    </a>
                  </div>
                  <% if current_user %>
                      <% if voted_for_reply(current_user.id, reply.id) == 0 %>
                          <%= link_to 'Vote', create_vote_path(:vote_type => 1, :vote_action => 1, :reply_id => reply.id, :post_id => @post.id), method: :post %>
                          <%= link_to 'Disvote', create_vote_path(:vote_type => 1, :vote_action => -1, :reply_id => reply.id, :post_id => @post.id), method: :post %>
                      <% elsif voted_for_reply(current_user.id, reply.id) <= 0 %>
                          <%= link_to 'Vote', create_vote_path(:vote_type => 1, :vote_action => 1, :reply_id => reply.id, :post_id => @post.id), method: :post %>
                      <% else %>
                          <%= link_to 'Disvote', create_vote_path(:vote_type => 1, :vote_action => -1, :reply_id => reply.id, :post_id => @post.id), method: :post %>
                      <% end %>
                  <% else %>
                      <%= link_to 'Vote', create_vote_path(:vote_type => 1, :vote_action => 1, :reply_id => reply.id, :post_id => @post.id), method: :post %>
                      <%= link_to 'Disvote', create_vote_path(:vote_type => 1, :vote_action => -1, :reply_id => reply.id, :post_id => @post.id), method: :post %>
                  <% end %>

                  <h5> <%= reply.vote_number %> votes for this reply </h5>
                </div>
              </div>
            </div>
          </div>
        </div>
    <% end %>
<% end %>

<div class="answer box-shadow" style="position: fixed; bottom: 50px; right: 50px; width: 300px;">
  <%= form_for [@post, @reply] do |f| %>
      <% if @reply.errors.size > 0 %>
          <div class="alert alert-danger">
            <%= @reply.errors.full_messages.to_sentence %>
          </div>
      <% end %>

      <div class="form-group">
        <div>
          <%= f.label :"Your Answer" %>
          <%= f.text_area :body, class: "form-control" %>
        </div>
      </div>
      <%= f.submit "Post your answer", class: "btn btn-primary btn-block" %>
  <% end %>
</div>

