<div class="container">
  <h2>Question</h2>
  <div class="row">
    <div class="col-sm-8">
      <hr>
      <div class="panel panel-white post panel-shadow" style="border: 1px solid #009688">
        <div class="post-heading">
          <div class="pull-left image">
            <img src="<%= @post.user.avatar.url(:thumb) %>" class="img-circle avatar" style="margin-top: -5px">
          </div>
          <div class="pull-left meta">
            <div class="title">
              <b><%= @post.user.name %></b> asked
            </div>
            <h6 class="text-muted time"><%= time_ago_in_words(@post.created_at) %> ago</h6>
          </div>
        </div>
        <div class="post-description">
          <h3><%= @post.title %> <strong>&ldquo;<%= @post.body %>&rdquo;</strong></h3>
          <div>
            <img class="card-img-top" src=" <%= @post.image.url %>" style="max-width: 710px">
          </div>
          <% if current_user %>
              <% if @voted == 0 %>
                  <%= link_to create_vote_path(:vote_type => 0, :vote_action => 1, :post_id => @post.id), method: :post, class: 'btn btn-primary stat-item' do %>
                      <i class="fa fa-thumbs-up icon"></i>
                  <% end %>
                  <%= link_to create_vote_path(:vote_type => 0, :vote_action => -1, :post_id => @post.id), method: :post, class: 'btn btn-primary stat-item' do %>
                      <i class="fa fa-thumbs-down icon"></i>
                  <% end %>
              <% elsif @voted <= 0 %>
                  <%= link_to create_vote_path(:vote_type => 0, :vote_action => 1, :post_id => @post.id), method: :post, class: 'btn btn-primary stat-item' do %>
                      <i class="fa fa-thumbs-up icon"></i>
                  <% end %>
                  <%= link_to create_vote_path(:vote_type => 0, :vote_action => -1, :post_id => @post.id), method: :post, class: 'btn btn-primary stat-item disabled' do %>
                      <i class="fa fa-thumbs-down icon"></i>
                  <% end %>
              <% else %>
                  <%= link_to create_vote_path(:vote_type => 0, :vote_action => 1, :post_id => @post.id), method: :post, class: 'btn btn-primary stat-item disabled' do %>
                      <i class="fa fa-thumbs-up icon"></i>
                  <% end %>
                  <%= link_to create_vote_path(:vote_type => 0, :vote_action => -1, :post_id => @post.id), method: :post, class: 'btn btn-primary stat-item' do %>
                      <i class="fa fa-thumbs-down icon"></i>
                  <% end %>
              <% end %>
          <% else %>
              <%= link_to create_vote_path(:vote_type => 0, :vote_action => 1, :post_id => @post.id), method: :post, class: 'btn btn-primary stat-item' do %>
                  <i class="fa fa-thumbs-up icon"></i>
              <% end %>
              <%= link_to create_vote_path(:vote_type => 0, :vote_action => -1, :post_id => @post.id), method: :post, class: 'btn btn-primary stat-item' do %>
                  <i class="fa fa-thumbs-down icon"></i>
              <% end %>
          <% end %>
          <h3>
            <div class="badge label-info"> <%= pluralize(@post.vote_number, 'vote') %> for this question</div>
          </h3>

          
        <span class="border-0">
          <% @post.comments.each do |comment| %>
            <%= render partial: 'comment', locals: {comment: comment} %>
          <% end %>
          <%= form_for [@post, @comment] do |f| %>
            <% if @comment.errors.size > 0 %>
              <div class="alert alert-danger">
                <%= @comment.errors.full_messages.to_sentence %>
              </div>
            <% end %>
            <div class="form-group">
              <div>
                <%= f.label :"Your comment" %>
                <%= f.text_area :body, class: "form-control"%>
              </div>
            </div>
            <%= f.submit "Post your comment", class: "btn btn-primary" %>
          <% end %>
        </span>
        <!-- comment here -->
        </div>
      </div>
    </div>
  </div>
</div>
<!------------------------------------------------------------------ REPLY------------------------------------------------------------------>
<div class="container">
  <% if @post.replies.count() <= 0 %>
      <h2>Don't have any reply yet</h2>
  <% else %>
      <h2><%= @post.replies.count() %> Replies </h2>
      <% @post.replies.sort { |a,b| b.vote_number <=> a.vote_number }.each do |reply| %>
          <%= render partial: 'reply', locals: {reply: reply} %>

          <span class="border-0">
            <% reply.comments.each do |comment| %>
              <%= render partial: 'comment', locals: {comment: comment} %>
            <% end %>
            <%= form_for [reply, @comment] do |f| %>
              <% if @comment.errors.size > 0 %>
                <div class="alert alert-danger">
                  <%= @comment.errors.full_messages.to_sentence %>
                </div>
              <% end %>
              <div class="form-group">
                <div>
                  <%= f.label :"Your comment" %>
                  <%= f.text_area :body, class: "form-control"%>
                </div>
              </div>
              <%= f.submit "Post your comment", class: "btn btn-primary" %>
            <% end %>
          </span>

      <% end %>
  <% end %>
</div>
<div class="answer box-shadow" style="position: fixed; bottom: 50px; right: 60px; width: 400px;">
  <%= form_for [@post, @reply] do |f| %>
      <% if @reply.errors.size > 0 %>
          <div class="alert alert-danger">
            <%= @reply.errors.full_messages.to_sentence %>
          </div>
      <% end %>
      <div class="form-group">
        <div>
          <%= f.label :"Your Answer" %>
          <%= f.text_area :body, class: "form-control", rows: '5' %>
        </div>
      </div>
      <%= f.submit "Post your answer", class: "btn btn-primary btn-block" %>
  <% end %>
</div>




