<div class="navbar navbar-default " style="background: transparent; border: none; color: white">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= root_path %>"><b>TRANSLATE <i class="fa fa-exchange" aria-hidden="true"></i> ME</b></a>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav">
        <!-- <li><%= link_to question_format_path do %>
              <i class="fa fa-question-circle" aria-hidden="true"></i> Ask question
          <% end %>
        </li> -->
        <% if user_signed_in? %>
        <li><%= link_to rooms_path do %>
              <i class="fa fa-comments" aria-hidden="true"> </i> Chat
          <% end %>
        </li>
        <li><%= link_to history_path do %>
              <i class="fa fa-history" aria-hidden="true"></i> History
          <% end %>
        </li>
        <% end %>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
            <li><%= link_to 'Profile', edit_user_registration_path %></li>
            <li><%= link_to 'Logout', destroy_user_session_path, method: :delete, data: {confirm: 'Are you sure?'} %></li>
            <li class="avatar"><%= image_tag(current_user.avatar.url(:thumb), style: 'max-height: 60px;') %></li>
        <% else %>
            <li class="nav-item  ">
              <%= link_to "Sign up", new_user_registration_path, :class => 'nav-link' %>
            </li>
            <li class="nav-item ">
              <%= link_to "Login", new_user_session_path, :class => 'nav-link' %>
            </li>
        <% end %>

      </ul>
    </div>
  </div>
</div>

<script type="text/javascript" charset="utf-8">

    $(function () {
        $("li").click(function () {
            // remove classes from all
            $("li").removeClass("active");
            // add class to the one we clicked
            $(this).addClass("active");
        });
    });
</script>
